name : CI/CD Pipeline

on:
    push:
        branches: [master]

jobs:
    build-and-deploy: # define the single main job for this workflow
        runs-on: ubuntu-latest # run the job on the latest ubuntu version
        steps:
            - name: Checkout code 
              uses: actions/checkout@v4 # downloads the entire repository to the job's runner

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4 # log in to AWS using our stored secret
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ secrets.AWS_REGION }}
            
            - name: Login to Amazon ECR
              uses: aws-actions/amazon-ecr-login@v2 # log in to ECR using our stored secret

            # Build and push housing-api image
            - name: Build, Tag, and Push housing-api
              run: | # | (pipe symbol) tells subsequent indented lines should be treated as a single, literal string, including any newline characters.
                IMAGE_TAG=${GITHUB_SHA}
                ECR_REGISTRY=667341439764.dkr.ecr.us-east-1.amazonaws.com
                ECR_REPOSITORY=housing-api

                docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f Dockerfile .
                docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

                docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest
                docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest

            # Build and push housing-streamlit image
            - name: Build, Tag, and Push housing-streamlit
              run: |
                IMAGE_TAG=${GITHUB_SHA}
                ECR_REGISTRY=667341439764.dkr.ecr.us-east-1.amazonaws.com
                ECR_REPOSITORY=housing-streamlit
                
                docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -f Dockerfile.streamlit .
                docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

                docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest
                docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest

            # Deploy to ECS - API
            - name: Deploy housing-api-service
              run: |
                aws ecs update-service \
                --cluster housing-api-cluster-ecs \
                --service ml-api-service \
                --force-new-deployment

            # Deploy to ECS - Streamlit
            - name: Deploy housing-streamlit-service
              run: |
                aws ecs update-service \
                --cluster housing-api-cluster-ecs \
                --service streamlit-app-service \
                --force-new-deployment